* {
    box-sizing: border-box;
    font-family: Oswald, sans-serif;
    margin: 0;
}
body {
    background-color: rgb(248, 246, 242);
}
section {
    background-color: rgb(176, 164, 164);
    margin: 5px;
}
div {
    background-color: rgb(202, 41, 41);
    color: white;
    width: 50px;
    text-align: center;
}
.list {
    background-color: white;
    padding: 3px;
}
li {
    display: inline;
    padding: 5px;
}
a {
    text-decoration: underline;
    color: black;   
}