* {
    box-sizing: border-box;
}
.body {
    max-width: 1440px;
    margin: auto;
}
.main-section {
    position: fixed;
    width: 310px;
    border: 1px solid rgb(163, 149, 149);
    font-family: 'Raleway', sans-serif;
    font-weight: 300;
    text-align: center;
    margin: 10px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
}
.main-section h1::after {
    content: '';
    display: block;
    width: 30px;
    margin: 10px auto;
    border-bottom: 5px dotted orange;
}
.img {
    width: 100%;
}
.button {
    padding: 10px;;
    background-color: orange;
    color: white;
    border: none;
    border-radius: 20px;
 }
 .h1 {
    font-weight: normal;
 }